/*-- scss:defaults --*/
// Base document colors
$body-bg: rgba(0, 0, 0, 0.500);
$body-color: white;
$link-color: #75AADB;
$input-bg :  white;
$popover-bg	: white;

// Code blocks
$code-block-bg-alpha: -.8;